
/* CONTACT INFO PAGE_SPECIFIC CSS */
#contactForm {
    margin-top: 10px;
}

#contactForm  #Name {
    height: 50px !important;
    border: 3px solid rgba(45, 45, 48,1) !important;
    background: transparent !important;
    color: rgba(45, 45, 48,1) !important;
    letter-spacing: 1px !important;
    width: 80% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
    padding: 10px !important;
    margin-top: 10px !important;
    margin-bottom: 8px !important;

}

#contactForm  #Email {
    height: 50px !important;
    border: 3px solid rgba(45, 45, 48,1) !important;
    background: transparent !important;
    color: rgba(45, 45, 48,1) !important;
    letter-spacing: 1px !important;
    width: 80% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
    margin-bottom: 8px !important;

}

#contactForm  #Ad {
    height: 50px !important;
    border: 3px solid rgba(45, 45, 48,1) !important;
    background: transparent !important;
    color: rgba(45, 45, 48,1) !important;
    letter-spacing: 1px !important;
    width: 80% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
    padding: 10px !important;

}

#contactForm  #Phone {
    height: 50px !important;
    border: 3px solid rgba(45, 45, 48,1) !important;
    background: transparent !important;
    color: rgba(45, 45, 48,1) !important;
    letter-spacing: 1px !important;
    width: 80% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
    padding: 10px !important;
    margin-bottom: 8px !important;

}

#contactForm  #AddPhone {
    height: 50px !important;
    border: 3px solid rgba(45, 45, 48,1) !important;
    background: transparent !important;
    color: rgba(45, 45, 48,1) !important;
    letter-spacing: 1px !important;
    width: 80% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
    padding: 10px !important;
    margin-bottom: 8px !important;

}
#contactForm  #Address {
    height: 75px !important;
    border: 3px solid rgba(45, 45, 48,1) !important;
    background: transparent !important;
    color: rgba(45, 45, 48,1) !important;
    letter-spacing: 1px !important;
    font-size: 55% !important;
    font-weight: normal;
    width: 80% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
    padding: 10px !important;
    margin-bottom: 0px;

}

#contactForm  #studyDropDown {
    height: 50px !important;
    border: 3px solid rgba(45, 45, 48,1) !important;
    background: transparent !important;
    letter-spacing: 1px !important;
    font-size: 55% !important;
    font-weight: normal;
    color: grey;
    width: 80% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
    padding: 10px !important;
    margin-bottom: 8px !important;

}

#contactForm  #hideStudyOp {
    display: none;
    visibility: hidden;
    color: red;
}

#contactForm  #hideHearOp {
    display: none;
    visibility: hidden;
    color: green;
}

#contactForm  #Message {
    height: 75px !important;
    font-size: 55% !important;
    border: 3px solid rgba(45, 45, 48,1) !important;
    background: transparent !important;
    color: rgba(45, 45, 48,1) !important;
    letter-spacing: 1px !important;
    width: 80% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
    padding: 10px !important;
    margin-bottom: 0px !important;

}

#contactForm  #hearDropDown {
    height: 50px !important;
    border: 3px solid rgba(45, 45, 48,1) !important;
    background: transparent !important;
    letter-spacing: 1px !important;
    font-size: 55% !important;
    font-weight: normal;
    color: grey;
    width: 80% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
    padding: 10px !important;
    margin-bottom: 8px !important;

}

#contactForm  #otherchoice {
    height: 50px !important;
    border: 3px solid rgba(45, 45, 48,1) !important;
    background: transparent !important;
    color: rgba(45, 45, 48,1) !important;
    letter-spacing: 1px !important;
    font-size: 55%;
    font-weight: bold;
    width: 80% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
    padding: 10px !important;
    margin-bottom: 8px !important;
}
#contactForm #datetimepicker1 {
    height: 50px !important;
    font-size: 55% !important;
    font-weight: normal;
    border: 3px solid rgba(45, 45, 48,1) !important;
    background: transparent !important;
    color: rgba(45, 45, 48,1) !important;
    letter-spacing: 1px !important;
    width: 80% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
    margin-bottom: 8px !important;
}
#contactForm  #hidePhone {
    display: none;
    visibility: hidden;
    color: red;
}

#contactForm #phone_input1 {
    height: 50px !important;
    letter-spacing: 1px !important;
}

#contactForm #phone_input2 {
    height: 50px !important;
    letter-spacing: 1px !important;
}

#contactForm .btn-group {
    width: 60px !important;
    padding: 0px;
    margin-left: 10% !important;
    margin-right: 10% !important;
}

#contactForm #noButton1 {
    font-size: 65% !important;
    letter-spacing: 1px !important;
    font-weight: bold;
    /*float: right;*/
    padding: 3px;
}


#contactForm #noButton2 {
    font-size: 55% !important;
    letter-spacing: 1px !important;
    font-weight: bold;
    /*float: right;*/
    padding: 3px;
}

#contactForm .glyphicon {
    color: rgba(45, 45, 48,1) !important;

}

#contactForm #tour_input1 {
    height: 50px !important;
    letter-spacing: 1px !important;
}
#contactForm #tour_input2 {
    height: 50px !important;
    letter-spacing: 1px !important;
}

#contactForm #datetimepicker2 {
    height: 50px !important;
    font-weight: normal;
    border: 3px solid rgba(45, 45, 48,1) !important;
    background: transparent !important;
    color: rgba(45, 45, 48,1) !important;
    letter-spacing: 1px !important;
    width: 80% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
}

#contactForm  #hideTour {
    display: none;
    visibility: hidden;
    color: red;
}

#contactForm  #submitButton {
    height: 50px !important;
    border: 3px solid rgba(45, 45, 48,1) !important;
    background: transparent !important;
    color: rgba(45, 45, 48,1) !important;
    letter-spacing: 1px !important;
    padding: 10px !important;
    margin-top: 10px !important;
    font-weight: bold;
}

#contactInfo [class*="fa"] {
    margin-top: 30px;
}
#contactInfo p {
    margin-bottom: 30px;
}

#contactInfo p .bottom{
    margin-top: 30px;
}
#contactInfo {
    margin-top: 10px;
}
/* END CONTACT INFO PAGE_SPECIFIC CSS */

