
.header h1 {
    /*color: #FFFFFF;*/
    color: rgba(45, 45, 48, 1);
}
h3{
    color: rgba(45, 45, 48,1);
}

h2, h4{
    color: rgba(255,255,255,1);
}

/*Dallin's, transparency in navbar*/
.navbar {
    opacity: 0.93;
}

.navbar-header button {
    background: #004271;
}

.navbar-header button span.icon-bar {
    background: #fff;
}

.navbar-toggle{
    background-color: #004271;
}

.masthead {
    background-color:rgba(0, 0, 0, 0.5);
}

.clickForContactForm{
    color: rgb(51, 122, 183);
}

#rights {
    color: white !important;
}


#twitter:hover {
    color: #00aced !important;
}

#facebook:hover {
    color: #3b5998 !important;
}


#linkedin:hover {
    color: #007bb6 !important;
}

#instagram:hover {
    color: #517fa4 !important;
}


#footSocial a, #footAddress, #footEmail, #footPhone {
    color: white !important;
}

#indexHeader {
    color: #777;
}

#contactForm  #required, #contactForm  #studyDropDown, #contactForm  #hearDropDown  {
    color: grey;
}

#contactForm  #Name, #contactForm  #Email, #contactForm  #Ad,  #contactForm  #Phone, #contactForm  #AddPhone, #contactForm  #Address,  #contactForm  #Message, #contactForm  #otherchoice, #contactForm  #callInstructions, #contactForm #datetimepicker1, #contactForm .glyphicon,  #contactForm  #tourInstructions, #contactForm #datetimepicker2, #contactForm  #submitButton{
    color: rgba(45, 45, 48, 1) !important;
}