html {
    font-size: 12px;

}

body {

    font-size: 1.4em;
    font-family: 'Titillium Web', sans-serif;
}

.header h1 {
    letter-spacing: 4px;
}

.dropdown-menu {
    font-size: 1.1em;
}

.navText {

    font-size: 1.5em;
    white-space: nowrap;
}

.navText:hover {
    font-weight: bold;
}

.footer {
    font-family: 'Titillium Web', sans-serif;
}

