@import "normalize"; /* renders elements consistently between browsers. https://necolas.github.io/normalize.css/ */
@import "main";       /*Section-0: styles by page and section */
@import "typography"; /*Section-1*/
@import "colors";     /*Section-2*/
@import "media-queries"; /*This Section should always go last*/

/*
*All New styles should go into one of the above files.
*During development
  * On the command line: run 'grunt watch' from the project's
  root to enable automatic sass updates.

* When 'grunt watch' is running
  * On saving a .scss file,
    * all .scss files in this directory will be automatically
      compiled to a single optimized .css file in the css
      directory style.css.
* Add the optimized style.css file to each HTML page

*This is a scaffolding setup, to give the project some structure
  to aid in updating, maintenance, and testing.

*When updating elements on a page, follow classes and ids, searching for repetition and buried code below. Reorganize any non-DRY code into the relevant section above, fixing errors along the way.
 - Makali'i (6.15.16)
*/

/******************************************************************************
    MEDIA
******************************************************************************/

/* Hide google plus thing */
.googleplus {
    display: none !important;
}

.img1 {
    background: url(../images/testimonials-01.png);}
.img2 {
    background-image: url(../images/testimonials-02.png); }
.img3 {
    background-image: url(../images/testimonials-03.png); }
.img4 {
    background-image: url(../images/testimonials-04.png); }
.img5 {
    background-image: url(../images/testimonials-05.png); }
.img6 {
    background-image: url(../images/testimonials-06.png); }
.img7 {
    background-image: url(../images/testimonials-07.png); }

.img1, .img2, .img3, .img4, .img5, .img6, .img7 {
    background-size: contain;
    max-width: 100%;
    background-repeat:   no-repeat;
    background-position: 50% 50%;
}

body.stories blockquote {
    background: rgba(255, 255, 255, 0.7);
    padding: 1.4em;
    margin: 10em 1em 1em 1em;
}

.highlight-img {
    margin: 0 .4em .6em .4em;
    opacity: 0.4;
    filter: alpha(opacity=40);
    transition-duration: .3s;
    transition-timing-function: linear;
}

.highlight-img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
    transition-duration: .4s;
    transition-timing-function: linear;
}

/******************************************************************************
    ANIMATIONS AND REACTIVE STUFF
******************************************************************************/


.navText:hover {

    animation: scale .5s forwards;
}

.page-text {
    font-size: 1.2em;
    transition-duration: .1s;
    transition-timing-function: ease-in;
}
.page-text p:hover{
    font-weight: bold;
    transition-duration: .2s;
    transition-timing-function: ease-out;
}

.largerTxt p {
    color: #000;
    transition-property: color;
    transition-duration: .1s;
    transition-timing-function: ease-in;
}
.largerTxt p:hover {
    color: #000;
    font-weight:bold;
    transition-duration: .2s;
    transition-timing-function: ease-out;

}



/******************************************************************************
    Below are all of the original style rules.
    Try not to add to the code below, but feel
    free to pull code out of this file when
    working on an element using classes or ids
    found below, and to put them into one of the
    imported css files linked at the top.
******************************************************************************/

#rights {
	font-size: 0.8em !important;
	text-align: center !important;
}

#footSocial{
	width: 100% !important;
	height: 65px !important;
	margin-top: 25px;
    margin-bottom: 35px;
}

#footSocial a {
	display: inline-block !important;
	font-size: 2em !important; 
	text-decoration:none;
}

#facebook{
    margin-left: 0 !important;
}
#twitter{
    margin-left: 50% !important;
}
#instagram{
    margin-left: 0 !important;
}
#linkedin{
    margin-left: 50% !important;
}

#footAddress {
	margin-left: 1%;
	text-align: left !important;
	width: 33% !important;
	height: 75px !important;
	float: left !important;
	/*position: block !important;*/
}

#footEmail {
	text-align: left !important;
	width: 33% !important;
	height: 50px !important;
	float: left !important;
	/*position: block !important;*/
}

#footPhone {
	text-align: left !important;
	width: 33% !important;
	height: 50px !important;
	float: left !important;
	/*position: block !important;*/
}

 .googleplus {
   display: none !important;
   }
   

 /*Dallin's - next three are mine, making the header on the index page interactive*/
#indexHeader {
     text-decoration: none;
}
/*Dallin's*/
#indexHeaderText {
    margin: 35px;
    margin-bottom: 10px;


    transition:all .5s;
    -moz-transition:all .5s; /* FIREFOX */
    -webkit-transition:all .5s; /* SAFARI and CHROME */
    -o-transition:all .5s; /* OPERA */

    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
}
/*Dallin's*/
#indexHeaderText:hover {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
 }

 
/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
  margin-top: -45px;
  margin-bottom: -35px;
/* background: url(../images/pattern.png); 
background-size: cover; */ }
  .jumbotron h1 {
    font-size: 2.1em;
	font-family: 'Titillium Web', sans-serif;
    /*font-style: none;*/
    color: #004271; }
  .jumbotron .btn {
    margin-top: 10px; }
  
 .jumbotron2 {
   font-size: 2.1em;
   font-family: 'Titillium Web', sans-serif;
   /*font-style: none;*/
   color: #004271;
  }

/* Customize the nav-justified links to be fill the entire space of the .navbar */
.nav-justified {
    background: #fff; /*BACKGROUND COLOR OF NAVBAR*/
    box-shadow: 0;/* 10px 15px grey; */
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

ul.nav a:hover { 
    color: #777 !important; /*TEXT COLOR IN NAVBAR ON HOVER*/
    background-color:  #fff; /*BACKGROUND COLOR OF SELECTION RECTANGLE*/
}

  .nav-justified > li > a {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: bold;
    color: #777; /*TEXT COLOR IN NAVBAR*/
    text-align: center; 

  }

div.row {
  margin-top: 0; 
  overflow: hidden;
  padding: 0;
}
div.row p{  /*ADDED 2/9/16 TO GET SPACE BETWEEN THE SIDE OF TEXT AND GRID BOX BOUNDARIES*/
    padding-left: 25px;
    padding-right: 25px;
	/*margin-top: 15px; /*THIS WAS THE ROOT CUASE OF GRID ON MOBILE HAVING SPACE BETWEEN SOME ROWS. WE MAY NEED TO SEPERATE OUT MOBILE-VS-DESKTOP ON THIS*/
    margin-top: 0; 
}
  div.row.tiles {
    margin: 0; } 
    div.row.tiles img {
      width: 200px; }
        div.row.tiles img.img_fit {
            width: 100%;
            /*height: 100%;*/
        }
  div.row img.img_fit {
    width: 100%; 
    /*height: 100%;*/
	}
	
  div.row div {
    padding: 0; /* THIS IS CAUSING THE ISSUE WITH TESTIMONIALS PAGE. 0 MAKES HOMEPAGE WORK, BUT TESTIMONIALS PAGE IMAGES CUT OFF. 30 MAKES TESTIMONIALS WORK, BUT BREAKS HOMEPAGE*/
    border-radius: 0;
    font-size: 1.1em; }

    div.row div .btn {
      padding-top: 0; }
    div.row div.contact, div.row div .form-group {
      padding: 0 0;
      margin: 0; }
    div.row div ul.tiled {
        list-style-position: inside;
        margin: 0;
        padding: 0 0 0;
        color: #004271; }
      div.row div ul.tiled li {
        padding-top: 0; }

.row [class*="col-"].newTiledInfoBlack{
  margin-bottom: -99999px; 
  padding-bottom: 99999px; 
}

.row [class*="col-"].newTiledInfoWhite{
  margin-bottom: -99999px;
  padding-bottom: 99999px; 
  //margin-top: -100px; /* newly added*/
  //padding-top: -100px; /* newly added*/
}




  
.scholarship{
	color: blue;
}
 
#iframeHomePage{
	width: 100%;
	/*height: 100%;*/
 	
    padding: 0;
    height: 460px;
    margin-bottom: -9px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0; 
    max-width: 99999999px;
} 

#iframeOtherPages{
	width: 100%;
	/*height: 100%;*/
    height: 460px;
	margin: 0;
    padding: 0;
    align-items: center;
    max-width: 853px;
}

.header{
    /*background: rgba(45, 45, 48,1);*/
    background: rgba(255, 255, 255, 1);
    margin-bottom: 0;
    margin-top: -65px;
    padding-top: 10px;
    padding-bottom: 5px;
    vertical-align: 50%;
}

footer .row {

    background: rgba(45, 45, 48,1);
    color: rgba(255,255,255,1);
}

footer .footer_nav {
  font-size: .8em;
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0; 
  color: white;
  }
  
  footer .footer_nav li  {
    font-size: 1.2em;
    display: inline-block;
    padding: 10px;
}

footer .footer_nav a {
	color: white;
	text-decoration:none;
}

footer .footer_nav a:hover {
	color: #D98D2A;
}


.contact {
    background: rgba(45, 45, 48,1) !important;
}

blockquote {
  font-style: italic;
  border-width: 0; }

.right {
  float: right; }

.left {
  float: left; }

.img_fit {
  max-width: 100%;
  opacity: 0.4;
  filter: alpha(opacity=40);  
}

 /*CSS for about page image hover */
.img_fit:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); 
}
  
  .panel-title {
      font-size: 1.3em;
      font-weight: bold;

  }

.panel-title a {
    display: block;
    padding: 10px 15px;
    margin: -10px -15px;
}

.panel-body {
	font-size: 1.3em;
}
/*Dallin's Bad Awesome accodion effects!*/
.panel-group .panel+.panel {
    margin-top: 0 !important;
}
.panel-group .panel { /*Dallin's*/
    margin-bottom: 0;
    border-radius: 0;
    border-bottom: none;
}
.container .panel-group {
    width: 90%;
    margin:0 auto;
}
.bottomAccord { /*Dallin's*/
    border-bottom: 1px solid #ddd !important;
}
.panel-heading { /*Dallin's*/
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 50px;
}
.panel-body { /*Dallin's*/
    padding: 20px 50px 30px 50px;
}
.panel-title:hover { /*Dallin's*/
    text-decoration: none !important;
    color: #D98D2A;
}
.panel-title a:enabled { /*Dallin's*/
    text-decoration: none;
}
.panel-heading { /*Dallin*/
    background-color: rgba(45, 45, 48, 1) !important;
    color: #fff !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.panel-default { /*Dallin*/
    border-color: #fff;
}
.lineThrough { /*Dallin*/
    text-decoration: line-through;
}
.noDecor { /*Dallin*/
    text-decoration: none;
    color: inherit;
}
.row3tile2 { /*Dallin*/
    text-decoration: none;
    color: inherit;
    text-align: justify;
    font-size: 16px;
}
.sixty { /*Dallin*/
    font-size: 55%;
}
.MessagePopUp { /*Dallin*/
    text-align: left;
}
#MessagePopUp { /*Dallin*/
    text-align: left;
}
.indexIframe { /*Dallin*/
    width: 1px; 
    height: 1px; 
    position: absolute; 
    top: -100px;
}
.noscript { /*Dallin*/
    display: none;
}
.justification { /*Dallin*/
    text-align: justify;
}
#iframeEnrollment { /*Dallin*/
    margin: 30px
}
#enrollmentMain { /*Dallin*/
    height: 650px;
    margin-left: 30px;
    margin-right: 30px;
}
#enrollmentMain h3 { /*Dallin*/
    margin-top: 0; padding-top:0;
}
.contactUs { /*Dallin*/
    font-weight: bold;
    letter-spacing: 4px;
}
.taLogo { /*Dallin*/
    width:200px;
}

.container {
    width: 100%; 
    padding: 0;
    margin: 0 auto;
}

.onlyDisplayOnMobile{
        display: none;
    }
.onlyDisplayOnDesktop{
        display: block;
        height: inherit !important;
    }




/* Responsive: Portrait tablets and up */
@media screen and (min-width: 769px) and (max-width: 1200px) {
  /* Remove the padding we set earlier */
    .masthead,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0; } 
    .header{
        /*background: rgba(45, 45, 48,1);*/
        background: rgba(255, 255, 255, 1);
        margin-bottom: -20px;
        margin-top: -65px;
        padding-top: 10px;
        padding-bottom: 25px;
        vertical-align: 0;
    }
    #iframeHomePage{
	width: 100%;
	/*height: 100%;*/
 	
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    height: 460px;
    margin-bottom: -28px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: 99999999px;
    } 
    .onlyDisplayOnMobile{
        display: block;
    }
    .onlyDisplayOnDesktop{
        display: none;
        height: 0 !important;
    }
}

@media (max-width: 768px) {
    body {
        padding: 0;
        margin-top: 0;
    }

   
    footer .footer_nav {
        font-size: 1em;
    }

    .header{
        /*background: rgba(45, 45, 48,1);*/
        background: rgba(255, 255, 255, 1);
        margin-bottom: -30px;
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 30px; 
        vertical-align: 50%;
    }
   
    .jumbotron{
        margin-bottom:0;
        margin-top:0;
        padding-top: 0;     
        padding-bottom: 0;
    }
    #footAddress {
	    margin-left: 1%;
	    text-align: left !important;
	    width: 100% !important;
	    height: 75px !important;
	    float: left !important;
	    /*position: block !important;*/
	    color: white !important;
        margin-bottom: 15px;
    }

    #footEmail {
        margin-left: 1%;
	    text-align: left !important;
	    width: 100% !important;
	    height: 50px !important;
	    float: left !important;
	    /*position: block !important;*/
	    color: white !important;
    }

    #footPhone {
        margin-left: 1%;
	    text-align: left !important;
	    width: 100% !important;
	    height: 50px !important;
	    float: left !important;
	    /*position: block !important;*/
	    color: white !important;
    }

    #facebook{
        margin-left: 0 !important;
    }
    #twitter{
        margin-left: 50% !important;
    }
    #instagram{
        margin-left: 0 !important;
        
    }

    #linkedin{
        margin-left: 50% !important;
    }
        

    #iframeHomePage{
	width: 100%;
	/*height: 100%;*/
 	
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    height: 460px;
    margin-bottom: -28px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: 99999999px;
    }
    .tales {
        width: 100%;
    }



    .onlyDisplayOnMobile{
        display: block;
        
    }
    .onlyDisplayOnDesktop{
        display: none;
        height: 0 !important;
    }
}


	
.tech_academy {
  height: 75px; }

.modal-button-yes{
    border: medium;
}

.modal-button-no {
    border: medium;
}

 a.btn-lg {
	font-size: 1.1em;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 0;
	padding-top: 0;
    margin: 16px auto;
	color: #ccc;
	background-color: #555;
	background: -webkit-linear-gradient(#888, #555);
	background: linear-gradient(#888, #555);
	border: 0 none;
	border-radius: 3px;
	text-shadow: 0 -1px 0 #000;
	box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
	cursor: pointer;
    max-width: 275px;
    width: initial;
    vertical-align: middle;
 }

 
a.btn-lg:hover, a.btn-lg:focus
{
	-webkit-animation: pulsate 1.2s linear infinite;
	animation: pulsate 1.2s linear infinite;
}
	
@-webkit-keyframes pulsate
{
	0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
	50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
	100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}
		
@keyframes pulsate
{
	0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
	50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
	100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}

a.btn-lg:active
{
	color: #fff;
	text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff;
	box-shadow: 0 1px 0 #666, 0 2px 0 #444, 0 2px 2px rgba(0,0,0,0.9);
	-webkit-transform: translateY(3px);
	transform: translateY(3px);
	-webkit-animation: none;
	animation: none;
}

 
 #dialogoverlay{
	display: none;
	opacity: .8;
	position: fixed;
	top: 0;
	left: 0;
	background: #FFF;
	width: 100%;
	z-index: 10;
}

#dialogbox{
	display: none;
	position: fixed;
	background: #000;
	border-radius:7px; 
	width:550px;
	z-index: 10;
}
#dialogbox > div{ background:#FFF; margin:8px; }
#dialogbox > div > #dialogboxhead{ background: #666; font-size:19px; padding:10px; color:#CCC; }
#dialogbox > div > #dialogboxbody{ background:#333; padding:20px; color:#FFF; }
#dialogbox > div > #dialogboxfoot{ background: #666; padding:10px; text-align:right; }

.modal-body{
	height: 150px;
}

#coverPic {
    top: 25%;
    left: 16.5%;
	width: 66%;
    
	position: absolute;
	margin: 0;
	padding: 0;
	z-index: 1000;
}



.newTiledInfoBlack {
    background-color: rgba(45, 45, 48, 1);
    color:rgba(255,255,255,1);  
    margin: 0;
}

.newTiledInfoWhite {
    margin: 0;
    background-color: rgba(255,255,255, 1);
    color:rgba(0,0,0,1);  
}

/*#col2row1 {
    max-height: 20px;
}*/

#col2row2{
    opacity: .9;
}




.slideanim {visibility:hidden;}

.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
     /*The duration of the animation */
    animation-duration: 10s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}



.textBased p:first-child {
    font-size: 1.2em;
    padding-top: 1.5em;
}

.textBased p:nth-child(2), .textBased p:nth-child(3), .textBased p:nth-child(4), .textBased p:nth-child(5){
    font-size: 1em;
    width: 90%;
    text-align: justify;
    position: relative; 
    left: 5%;
}

.textBased:first-child p:nth-child(2), .textBased:first-child p:nth-child(3), .textBased:first-child p:nth-child(4){
    font-size: .94em;
}



.bullets:hover, .bullets:focus, .bullets:active {
   text-shadow: 1px 0 20px white;
   -webkit-transition: width 0.3s; /*Safari & Chrome*/
   transition: width 0.3s;
   -moz-transition: width 0.3s; /* Firefox 4 */
   -o-transition: width 0.3s; /* Opera */
}

.bullets a{
    color: white;
    text-decoration: none;
}



@keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
/* Animation for pages*/



@-webkit-keyframes scale{
     0% {
        transform: scale(1);
        -ms-transform: scale(1); /* IE 9 */
        -webkit-transform: scale(1); /* Safari and Chrome */
     }
     100% {
        transform: scale(1.5);
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Safari and Chrome */
     }
}

/* tour page css */

/* adding for super sweet fade in effect - Josh */
div#tour-container { display: none; }

/* centering slide show*/

.your-class { 
	/* changed margins to fix arrow position - Josh*/
  margin-right: 0; 
  margin-left: 0; // center
  /*width: 2365px;  small screen the page look centered*/
  text-align:center; 
  /* added margin to top for space between text and slideshow */
  margin-top: 25px;
}

.your-class img {
    max-width: 100%;
}


/* end tour page css */






/***css Style the unordered list with the class 'enlarge'***/
ul.enlarge{
list-style-type:none; /*remove the bullet point*/
padding:0; /*removes extra space*/
}
ul.enlarge li{
/*display:inline-block; /*places the images in a line*/
position: relative; /*allows precise positioning of the popup image when used with position:absolute  */
z-index: 0; /*resets the stack order of the list items - we'll increase in step 4*/
/*margin:10px 40px 0 20px; space between the images*/
}
/* to hide large if no hover*/ 
/***In the HTML in step one we placed the large image inside a <span>, now we move it off the page until it's required***/
ul.enlarge span{
position:absolute; /*see support section for more info on positioning*/
left: -9999px; /*moves the span off the page, effectively hidding it from view*/
}

/***Note: This styling will apply to both the thumbnail and popup image, unless you override these styles in step five***/
ul.enlarge img{
/*give the thumbnails a frame*/
background-color:#eae9d4; /*frame colour*/
padding: 6px; /*frame size*/
/*add a drop shadow to the frame*/
-webkit-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
-moz-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
box-shadow: 0 0 6px rgba(132, 132, 132, .75);
/*and give the corners a small curve*/
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
margin: 10px
}
ul.enlarge li:hover{
z-index: 50; /*places the popups infront of the thumbnails, which we gave a z-index of 0 in step 1*/ 
cursor:pointer; /*changes the cursor to a hand*/
}

/*** bring the large image back onto the page by reducing left from -9999px (set in step 2) to figure below***/ 
ul.enlarge li:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/ 
top: 10px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left: 400px; /*distance from the left of the thumbnail to the left of the popup image*/
}

/***Override the styling of images set in step 3 to make the frame smaller and the background darker***/
ul.enlarge span img{
padding: 2px; /*size of the frame*/
background: #ccc; /*colour of the frame*/
}
/***Style the <span> containing the framed images and the caption***/
ul.enlarge span{
/**Style the frame**/
padding: 10px; /*size of the frame*/
background:#eae9d4; /*colour of the frame*/
/*add a drop shadow to the frame*/
-webkit-box-shadow: 0 0 20px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 20px rgba(0,0,0, .75);
box-shadow: 0 0 20px rgba(0,0,0, .75);
/*give the corners a curve*/
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius:8px;
/**Style the caption**/
font-family: 'Droid Sans', sans-serif; /*Droid Sans is available from Google fonts*/
font-size:.9em;
text-align: center;
color: #495a62;
}
/*Dallin's, keeps text away from edges.*/
#offEdges {
    margin-left: 20px;
    margin-right: 20px;
}
/*Dallin's, takes away gap in index*/
.noBottom {
    margin-bottom: 12px !important;

}
/*
    marg bottom, bottomExtraLine, and Founders by Dallin, for unison among staff page pictures.
*/
.margBottom {
    margin-bottom: 40px;
}
.margBottomExtraLine {
    margin-bottom: 11px;
}
.margFounders {
    margin-bottom: 25px;
    margin-top: 5px;
}

/*Dallin's, the next two make about better spaced.*/
.largerTxt p  {
    font-size: 1.2em;
}
/*Dallin's*/
.aboutSpacing {
    padding-top: 40px;
}


/*Dallin's, dynamic effect on PITC picture*/

#about{
  text-align:center;
  font-weight:bold;
  font-size: 1.2em;

}
@-webkit-keyframes pulse {
    from {-webkit-transform: scale(1);}
    to {-webkit-transform: scale(1.09);}
}

.pitc:hover { /*Dallin's */
    -webkit-animation-name: pulse;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: .4s;
    -webkit-animation-fill-mode: forwards;
}

/* adding for super sweet fade in effect on about page - Josh */
div#about-container { display: none; }


/* 404 page css - Josh*/

#html-404 {
    position: relative;
    min-height: 100%;
}
#body-404 {
    margin: 0 0 264px; /* bottom = footer height */
}
#footer-404 {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 264px;
    width: 100%;
}

div#container-404 { display: none; }

/* end 404 css */